{% extends 'base.html' %}
{% load static %}
{% block content%}
    <section class="banner banner-secondary" id="top" style="background-image: url({% static 'img/banner-image-1-1920x300.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="banner-caption">
                        <div class="line-dec"></div>
                        <h2>Team</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <main>
        <section class="popular-places" id="popular">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item popular-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="{% static 'img/1.jpeg' %}" alt="">
                                </div>
                                <div class="text-content">
                                    <h4>Yusuf Dahir Yusuf</h4>
                                    <span>CST/18/SWE/00170 - Team Leader</span>
                                    <span>08135979555</span>
                                </div>
                                <div class="plus-button">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item popular-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="{% static 'img/2.jpeg' %}" alt="">
                                </div>
                                <div class="text-content">
                                    <h4>Ibrahim Mohammaed Arab</h4>
                                    <span>CST/19/SWE/00408</span>
                                    <span>08069745379</span>
                                </div>
                                <div class="plus-button">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item popular-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="{% static 'img/3.jpeg' %}" alt="">
                                </div>
                                <div class="text-content">
                                    <h4>Zaharaddeed Abubakar</h4>
                                    <span>CST/19/SWE/00401</span>
                                    <span>08064041741</span>
                                </div>
                                <div class="plus-button">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item popular-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="{% static 'img/5.jpeg' %}" alt="">
                                </div>
                                <div class="text-content">
                                    <h4>Yunana Elkana</h4>
                                    <span>CST/19/IFT/00413</span>
                                    <span>08160884968</span>
                                </div>
                                <div class="plus-button">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item popular-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="{% static 'img/6.jpeg' %}" alt="">
                                </div>
                                <div class="text-content">
                                    <h4>Oladipupo Ruth Abusede</h4>
                                    <span>CST/18/IFT/00144</span>
                                    <span>09039501979</span>
                                </div>
                                <div class="plus-button">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item popular-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="{% static 'img/4.jpeg' %}" alt="">
                                </div>
                                <div class="text-content">
                                    <h4>Tayyib Sulaiman Hussain</h4>
                                    <span>CST/19/SWE/00410</span>
                                    <span>08034072008</span>
                                </div>
                                <div class="plus-button">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item popular-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="{% static 'img/team-image-3-646x680.jpg' %}" alt="">
                                </div>
                                <div class="text-content">
                                    <h4>Paula Jeorge</h4>
                                    <span>Customer Service</span>
                                </div>
                                <div class="plus-button">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item popular-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="{% static 'img/team-image-4-646x680.jpg' %}" alt="">
                                </div>
                                <div class="text-content">
                                    <h4>Dan Blatan</h4>
                                    <span>Customer Service</span>
                                </div>
                                <div class="plus-button">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>

        <section id="video-container">
            <div class="video-overlay"></div>
            <div class="video-content">
                <div class="inner">
                      <div class="section-heading">
                          <span>Lorem ipsum dolor.</span>
                          <h2>Vivamus nec vehicula felis</h2>
                      </div>
                      <!-- Modal button -->

                      <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi blanditiis, esse deserunt assumenda! Tempora nulla natus illum soluta quasi, nisi, in quaerat cumque corrupti ipsum impedit necessitatibus expedita minus harum, fuga id aperiam autem architecto odio. Perferendis eius possimus ex itaque tenetur saepe id quis dicta voluptas, corrupti sapiente hic!</p>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </section>

        <section class="popular-places">
            <div class="container text-center">
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>

                <br>

                <div class="blue-button">
                    <a href="{% url 'contact' %}">Contact Us</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}